.footer {
    display: flex;
    height: 25vh;
    background-color: black;
    justify-content: center;

    .footer-content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-flow: row wrap;
        padding-bottom: 15rem;
        padding-top: 5rem;
        align-self: center;
        flex-grow: 1;
    }

    .img-wrapper {
        flex-grow: 1;
        margin-bottom: 3rem;
    }

    img {
        height: 50px;
    }

    .links {

        display: flex;
        flex-flow: column nowrap;
        margin-right: 3rem;

        a {
            color: white;
        }
    }
}

@media screen and (max-width: $mobile-cutoff) {
    .footer {
        padding: 5rem;
    }
}
