.footer {
    display: flex;
    height: 25vh;
    background-color: black;
    flex-flow: row wrap;
    padding: 5rem;
    padding-bottom: 15rem;

    .img-wrapper {
        flex-grow: 1;
        margin-bottom: 3rem;
    }

    img {
        height: 50px;
    }

    .links {

        display: flex;
        flex-flow: column nowrap;
        margin-right: 3rem;

        a {
            color: white;
        }
    }
}
