.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    height: 92px;
    min-height: 88;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 3px 6px #0000001a;

    .logo {
        flex-grow: 6;
        display: flex;
        height: 100%;

        .logo-wrapper {

            align-self: center;

            .logo-icon {
              height: 100%;
              width: 240px;
            }
        }
    }

    .links {
        display: flex;
        padding-right: 2rem;
        flex-grow: 1;
        justify-content: space-between;

        * {
            align-self: center;
        }

        span {
            // github button has a tiny bit of padding under it
            margin-top: 5px;
        }

        a {
            color: #70808D;

            img {
                height: 48px;
                width: 118px;
                margin: 0;
            }
        }

        .cta-link {
            color: #57C5AB;
        }
    }

    .hamburger {
        display: none;
        width: 40px;
        height: 40px;
        background-color: blue;
    }


    @media screen and (max-width: 620px) {
        .links {
            display: none;
        }

        .hamburger {
            display: flex;
        }
    }
}

.hamburger-links {
    display: none;
}

@media screen and (max-width: 620px) {
    .hamburger-links {
        display: flex;
        position: fixed;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100vh;
        z-index: 200;

        transform: translate(100%);

        .close {
            flex-grow: 1;
            background-color: blue;
            width: 10vh;
        }

        .background {
            background-color: #000000aa;
            height: 90%;
            width: 10vh;
        }

        .links {
            background-color: white;
            width: 100%;
            height: 100%;
            padding: 5rem;

            * {
                padding-top: 3rem;
            }
        }
    }
}
