$max-width: 760px;

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    padding: 1.5rem;
    align-items: center;
    height: 10vh;
    min-height: 88;
    width: 100%;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 3px 6px #0000001a;

    .logo {
        flex-grow: 6;
        display: flex;
        height: 100%;

        .logo-wrapper {

            align-self: center;

            .logo-icon {
              height: 100%;
              width: 240px;
            }
        }
    }

    .links {
        display: flex;
        padding-right: 2rem;
        flex-grow: 1;
        justify-content: space-between;

        * {
            align-self: center;
        }

        span {
            // github button has a tiny bit of padding under it
            margin-top: 5px;
        }

        a {
            color: #70808D;

            img {
                height: 48px;
                width: 118px;
                margin: 0;
            }
        }

        .cta-link {
            color: #57C5AB;
        }
    }

    .hamburger {
        display: none;
        width: 40px;
        height: 40px;
    }


    @media screen and (max-width: $max-width) {
        .links {
            display: none;
        }

        .hamburger {
            display: flex;
            background-image: url('../img/hamburger.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.hamburger-links {
    display: none;
}

@media screen and (max-width: $max-width) {
    .hamburger-links {
        display: flex;
        position: fixed;
        flex-flow: column wrap;
        width: 100%;
        height: 100vh;
        z-index: 200;

        transform: translate(100%);

        .mobile-close-wrapper {
            flex-grow: 1;
            padding: 2rem;
            width: 10vh;
            background-color: white;
            opacity: 1;
        }

        .mobile-close {
            background: white url('../img/x.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
        }

        .background {
            background-color: #000000aa;
            height: 90%;
            width: 10vh;
        }

        .links {
            display: flex;
            flex-flow: column wrap;
            background-color: white;
            width: 100%;
            height: 100%;
            padding-left: 5rem;

            .logo {
                max-height: 60px;
                margin-bottom: 5rem;
                margin-top: 0rem !important;

                img {
                    height: 100%;
                }
            }

            * {
                margin-top: 3rem;
                color: #70808D;
            }

            // img {
            //     padding-top: 0rem !important;
            //     margin-left: 0 !important;
            // }

            .footer {
                display: flex;
                background-color: white;
                flex-flow: row nowrap;
                padding: 0rem;
                align-items: flex-end;
                flex-grow: 1;

                * {
                    margin: 0px !important;
                    margin-right: 1rem !important;
                }

                .github-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    padding-bottom: 2rem;

                    span {
                        margin-top: 5px !important;
                    }
                }

            }
        }
    }
}
