@include font-face(WorkSans, fonts/WorkSans-Regular, null, null, ttf)
@include font-face(WorkSans, fonts/WorkSans-Bold, bold, null, ttf)
@include font-face(RobotoMono, fonts/RobotoMono-Regular, null, null, ttf)

* {
    font-family: "WorkSans";
    box-sizing: border-box;
}

h1 {
    font-family: "WorkSans", bold;
}

h2 {
    font-family: "WorkSans", bold;
}

input {
    background-color: #F7FAFC33;
    border-radius: 4px;
    border: 0px;
}

.btn-cta {
    border-style: solid;
    background: linear-gradient(228deg, #FCCC6D, #FC823F);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border-width: 0px;
    border-radius: 5px;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}

.btn-secondary {
    border-radius: 5px;
    background-color: #FC823F;
    color: white;
    border-width: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


p.code-inline {
    font-family: RobotoMono;
    border: 2px solid #FC823F;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


a > img {
    width: 100px;
    margin: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.max {
    max-width: $max-width;
    align-self: center;
}

.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 640px;
    background-image: url('../img/tfe-texture-blue.png');

    .slogan {
        width: 67%;

        h1 {
            text-align: center;
            color: white;
        }
    }
}

.block-text {
    display: flex;
    flex-flow: column nowrap;
    min-width: 400px;
}

.content > .overview {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
        display: flex;
        flex-flow: row wrap;
        align-self: flex-start;
        align-items: center;

        div {
            flex-grow: 1;
            width: 50%;
            padding: 5rem;
        }

        img {
            width: 100%;
        }

    }

    .reverse {
        flex-direction: row-reverse;
        justify-content:  flex-end;
    }
}

.small-block {


    display: flex;
    background-color: #FFDC67;
    justify-content: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 10rem;
    padding-right: 10rem;

    .small-block-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-grow: 1;
    }

//     * {
//         align-self: center;
//     }

    h3 {
        max-width: 75%;
    }

    button {

        * {
            color: white;
        }
    }
}

.input-button-holder {
    display: flex;
    flex-direction: row;
    height: 40px;

        input {
            height: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 0px 4px 4px 0px;
            outline-width: 0;

        }

    button {
        transform: translate(-10px);
    }
}

.content > .tutorials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-bottom:4rem;
    background-color: #F7FAFC;

    .tutorial-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        flex-spacing: space-between;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 1rem;
            width: 300px;
            background-color: white;
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            margin-left: 1rem;
            margin-right: 1rem;
            box-shadow: 0px 3px 6px #0000001a;
            border-radius: 5px;

            img {
                height: 100px;
                max-width: 75%;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            a {
                align-self: flex-end;
            }
        }
    }
}

hr {
    height: 8px;
    background-image: linear-gradient(93deg, #FCCC6D, #FC823F);
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 5rem;

}

hr.green {
    background-image: linear-gradient(#06C6A2, #06C6A2);
    margin-bottom: 0rem;
}

.content > .install {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 5rem;

    h2 {
        margin-bottom: 2rem;
    }

    p {
        max-width: 400px;
        text-align: center;
    }
}

.content > .usage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121B21;
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
        color: white;
        padding-bottom: 1rem;
    }

    p {
        color: white;
        margin-bottom: 2rem;
        max-width: 400px;
        text-align: center;
    }

    .code-block {
        width: 600px;
        height: 500px;
    }
}

.content > .community {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.content > .further-reading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.mailing-list {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

@media screen and (max-width: $mobile-cutoff) {
    .content > .overview {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .small-block {
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    .code-block {
        width: 100% !important;
    }

    .small-block-content {
        justify-content: space-around !important;
    }

    .community {
        text-align: center;
        align-self: center;
    }
}

